<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let serie of listaSeries">
    <ion-item lines="full" (click)="exibirFilme(serie)">
      <ion-thumbnail slot="start">
        <img [src]="serie.cartaz">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>{{serie.nome}}</h1>
          <p>{{serie.lancamento}}-  {{serie.duracao}}</p>
          <ion-badge color="light" *ngFor="let genero of serie.generos">
            {{genero}}
          </ion-badge>
        </div>
      </ion-label>
      <ion-chip>
        <ion-label color="success" outline>
          {{serie.classificacao}}%
        </ion-label>
      </ion-chip>
    </ion-item>
  </ion-item-sliding>
  </ion-list>
</ion-content>
